/* .colored{
    border: 5px solid red;
} */

#logo{ 
    text-align: center;
    font-size: 46px;
    text-shadow: 10px 10px 10px #FFFFFF29;
}

.inline{
    display: inline;
    color: red;
}

.col.text {
    background-color: #00000017;
}

.wd100{
    width: 100%;
}

